<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
	<head>
		<title>Add Driver Page</title>
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
		<main>
			<div class="album py-5">
				<div class="container">
					<a type="button" class="btn btn-primary" href="/33906548/Patrick/">Home</a>
					<h3 class="my-2">Add New Driver Form</h3>

					<div class="row row-cols-1 row-cols-sm-2 g-3">
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<form action="/33906548/Patrick/add-driver-post" method="POST">
										<!-- Driver Name -->
										<div class="mb-3">
											<label for="driver_name" class="form-label">Name</label>
											<input type="text" name="driver_name" class="form-control" id="driver_name" placeholder="Enter Name" />
										</div>
									
										<!-- Driver Department -->
										<div class="mb-3">
											<label for="driver_department" class="form-label">Choose Department:</label>
											<select name="driver_department" class="form-control" id="driver_department">
												<option value="food">Food</option>
												<option value="furniture">Furniture</option>
												<option value="electronic">Electronic</option>
											</select>
										</div>
									
										<!-- Active Licence -->
										<div class="mb-3">
											<label for="driver_isActive" class="form-label">Active Licence?</label>
											<select name="driver_isActive" class="form-control" id="driver_isActive">
												<option value="true">Yes</option>
												<option value="false">No</option>
											</select>
										</div>
									
										<!-- Driver Licence -->
										<div class="mb-3">
											<label for="driver_licence" class="form-label">Licence</label>
											<input type="text" name="driver_licence" class="form-control" id="driver_licence" placeholder="Enter Licence" />
										</div>
									
										<!-- Submit Button -->
										<button class="btn btn-primary">Submit</button>
									</form>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="bg-dark text-light text-left py-3 px-3">
			<p class="mb-1">
				<strong class="text-primary">Name:</strong> Patrick Fennessy<br>
				<strong class="text-primary">Student ID:</strong> 33906548 <br>
				<br><br>
				<strong class="text-primary">About Us:</strong> Our Package Delivery Management Application (PDMA) is a comprehensive web-based solution designed to streamline and optimize the entire package delivery process. From order creation and tracking to driver management and route optimisation, our PDMA empowers businesses to deliver packages efficiently and reliably. With our user-friendly interface and powerful features, you can enhance customer satisfaction, reduce costs, and improve overall operational efficiency.<br>
				<br><br>
				<strong class="text-primary">Contact Us:</strong><br>
				<ul>
					<li>Email: <a href="mailto:pfen0005@student.monash.edu" class="text-primary">pfen0005@student.monash.edu</a></li>
					<li>Phone: <a href="tel:+61399054000" class="text-primary">+61 3 9905 4000</a></li>
					<li>Address: <a href="" class="text-primary">Wellington Road, Clayton, Victoria 3800, Australia</a></li>
				</ul>
			</p>
		</footer>
	</body>
</html>
