<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <title>Delete Driver</title>
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <div class="album py-5">
            <div class="container">
                <a type="button" class="btn btn-primary" href="/33906548/Patrick/">Home</a>
                <a type="button" class="btn btn-primary" href="/33906548/Patrick/view-drivers">View All Drivers</a>

                <h3 class="my-2">Delete Driver By ID</h3>

                <form action="/33906548/Patrick/delete-driver-submit" method="GET">
                    <div class="mb-3">
                        <label for="driverId" class="form-label">Driver ID</label>
                        <input type="text" name="id" class="form-control" id="driverId" placeholder="Enter Driver ID" required>
                    </div>
                    <button class="btn btn-danger" type="submit">Delete Driver</button>
                </form>
                
                
            </div>
        </div>
        <footer class="bg-dark text-light text-left py-3 px-3 fixed-bottom">
            <p class="mb-1">
                <strong class="text-primary">Name:</strong> Patrick Fennessy<br>
                <strong class="text-primary">Student ID:</strong> 33906548 <br>
                <br><br>
                <strong class="text-primary">About Us:</strong> Our Package Delivery Management Application (PDMA) is a comprehensive web-based solution designed to streamline and optimize the entire package delivery process. From order creation and tracking to driver management and route optimisation, our PDMA empowers businesses to deliver packages efficiently and reliably. With our user-friendly interface and powerful features, you can enhance customer satisfaction, reduce costs, and improve overall operational efficiency<br>
                <br><br>
                <strong class="text-primary">Contact Us:</strong><br>
                <ul>
                    <li>Email: <a href="" class="text-primary">pfen0005@student.monash.edu</a></li>
                    <li>Phone: <a href="" class="text-primary">+ 61 3 9905 4000</a></li>
                    <li>Address: <a href="" class="text-primary">Wellington Road
                        Clayton
                        Victoria 3800
                        Australia</a></li>
                </ul>
            </p>
        </footer>
    </body>
</html>
